#title{
    font-family: "Times New Roman", Times, serif;
    color: rgb(7, 33, 161);
    font-size: 45px;
    margin: auto;
    margin: 10px 10px 0px 10px;
}
.sub-title{
    font-family: 'Montez', cursive;
    margin-left: 10px;
    color: black;
}
#signin,#signup{
    width: 110px;
    padding: 10px;
    cursor: pointer;
    margin: auto;
    background: rgb(7, 33, 161);
    color: rgb(255, 255, 255);
    float: right;
    margin: 10px 10px 0px 0px;
    font-weight: 500;
}